@page "/statistic"
@using Kronos.Client.Pages.Statistic.Component

<PageTitle>Kronos - Estatística</PageTitle>

<main class="overflow-auto pb-lg-5" style="height: 84vh">
    <StatisticResumeComponent></StatisticResumeComponent>
</main>

@code {
    
}
