@page "/healthcheck"

<PageTitle>Kronos - HealthCheck</PageTitle>

<div>
    <h4>Confira os últimos logs relacionados a saúde de suas aplicações</h4>

    <div class="d-flex mt-4">
        <button class="btn btn-primary" disabled="@IsLoading" @onclick="CheckAllApplications">Executar agora</button>
        <div class="ms-3 d-flex align-self-center">
            <LoadingComponent Visible="IsLoading"></LoadingComponent>
        </div>
    </div>

    <div class="overflow-auto mt-4" style="height: 72vh;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var healthcheck in _healthChecks)
                {
                    <tr>
                        <td>@GetApplicationName(healthcheck.ApplicationId)</td>
                        <td>
                            @if (healthcheck.Success)
                            {
                                <div class="d-flex">
                                    <div class="px-3 bg-success rounded"></div>
                                    <span class="ps-2">Sucesso</span>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex">
                                    <div class="px-3 bg-danger rounded"></div>
                                    <span class="ps-2">Falha</span>
                                </div>
                            }
                        </td>
                        <td>@healthcheck.CreatedAt.ToLocalTime()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@code {
    private readonly HealthCheckHandler _healthCheckHandler = new();

    private readonly ApplicationHandler _applicationHandle = new();

    List<HealthCheckResponseDTO> _healthChecks = [];

    List<ApplicationResponseDTO> _applications = [];

    private string ClassLoading => IsLoading ? string.Empty : "d-none";

    private bool IsLoading { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _healthChecks = await _healthCheckHandler.Get();
        _applications = await _applicationHandle.Get();
    }

    private string GetApplicationName(Guid applicationId)
    {
        return _applications.First(x => x.Id == applicationId).Name;
    }

    private async Task CheckAllApplications()
    {
        IsLoading = true;
        await _healthCheckHandler.CheckAllApplications();
        _healthChecks = await _healthCheckHandler.Get();
        IsLoading = false;
    }
}
