.custom-filter-end-date, .custom-filter-start-date {
    display: flex;
}

.custom-filter-end-date label, .custom-filter-start-date label {
    min-width: 28px;
}

@media (max-width: 899.98px) {
    .custom-filter {
        display: grid;
    }

    .custom-filter > * {
        width: 100%;
    }
}

@media (min-width: 899.99px) {
    .custom-filter {
        display: flex;
        max-width: 800px;
    }

    .custom-filter select:nth-child(2) {
        max-width: 140px;
    }

    .custom-filter-end-date input, .custom-filter-start-date input{
        max-width: 140px;
    }
}
